function Cactus.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push pointer 0
    return
function Cactus.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Cactus.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push constant 502
    call Math.min 2
    push this 1
    push this 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Cactus.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push constant 502
    call Math.min 2
    push this 1
    push this 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Cactus.move 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 500
    lt
    push this 0
    push constant 0
    gt
    and
    not
    if-goto Cactus_1
    push pointer 0
    call Cactus.erase 1
    pop temp 0
    goto Cactus_0
label Cactus_1
label Cactus_0
    push this 0
    push argument 1
    sub
    pop this 0
    push this 0
    push constant 0
    lt
    not
    if-goto Cactus_3
    push constant 900
    push this 3
    push constant 500
    call Random.nextInt 2
    add
    pop this 0
    goto Cactus_2
label Cactus_3
label Cactus_2
    push this 0
    push constant 500
    lt
    push this 0
    push constant 0
    gt
    and
    not
    if-goto Cactus_5
    push pointer 0
    call Cactus.draw 1
    pop temp 0
    goto Cactus_4
label Cactus_5
label Cactus_4
    push constant 0
    return
function Cactus.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Cactus.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Cactus.getSize 0
    push argument 0
    pop pointer 0
    push this 2
    return