function Main.main 1
    push constant 140
    call DinoGame.new 1
    pop local 0
    push local 0
    call DinoGame.run 1
    pop temp 0
    push local 0
    call DinoGame.dispose 1
    pop temp 0
    push constant 0
    return